In [9]:
import pandas as pd
# 배정된 그룹 정보 가지고 오기
group_assign_df = pd.read_excel('group_assign_df_관계스왑용.xlsx')
group_assign_df

,학년,임시반,임시번호,성별_명렬표,이름_명렬표,특이사항,merge_key,학교명,학년반번호,성별_검사결과,...,T점수 평균,지능지수,지능지수 P,상담 필요,_merge,결시생,동명이인,동명이인_ID,언어,초기그룹
0,1,1,1,1,강성미,특수(1학년6반 또는 1학년 7반 배정)\n10820 유진석(특수)과 다른반으로 배정,101011강성미,천보중학교,10101.0,1.0,...,48.0,97.0,42.5,1.0,both,0,0,NaN,52,6
1,1,1,2,1,김민주,NaN,101021김민주,천보중학교,10102.0,1.0,...,55.0,107.0,67.0,1.0,both,0,0,NaN,48,4
2,1,1,3,1,김민지,NaN,101031김민지,천보중학교,10103.0,1.0,...,48.0,97.0,42.5,0.0,both,0,1,2.0,62,4
3,1,1,4,1,김혜원,NaN,101041김혜원,천보중학교,10104.0,1.0,...,52.0,103.0,57.5,0.0,both,0,1,3.0,54,4
4,1,1,5,1,노지원,NaN,101051노지원,천보중학교,10105.0,1.0,...,69.0,128.0,96.0,0.0,both,0,0,NaN,71,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,1,4,25,1,이민우,병원진료로 진단검사 미응시,104251이민우,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,left_only,1,0,NaN,0,5
289,1,4,26,1,이성원,독감으로 진단검사 미응시\n10209 김사랑과 다른 반 배정,104261이성원,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,left_only,1,0,NaN,0,0
290,1,7,1,1,김가영,독감으로 진단검사 미응시,107011김가영,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,left_only,1,0,NaN,0,5
291,1,7,11,1,조하은,여행으로 진단검사 미응시,107111조하은,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,left_only,1,0,NaN,0,2
292,1,7,15,1,김덕일,독감으로 진단검사 미응시,107151김덕일,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,left_only,1,0,NaN,0,6

In [10]:
# 입력한 학생 관계 정보 가지고 오기
relationship_dict = {'101021김민주': {'101031김민지': -1, '108301김민지': -1}, '106181박지유': {'101031김민지': 1, '108301김민지': -1, '102121임지유': -1}, '106111정채미': {'107271정휘우': 1}, '110241이연호': {'107211박도현': 1}}
relationship_dict

{'101021김민주': {'101031김민지': -1, '108301김민지': -1},
 '106181박지유': {'101031김민지': 1, '108301김민지': -1, '102121임지유': -1},
 '106111정채미': {'107271정휘우': 1},
 '110241이연호': {'107211박도현': 1}}

In [ ]:
# 관계 기반 그룹 배정 검토
for 주체 in relationship_dict:
    for 대상, 관계 in relationship_dict[주체].items():
        group_main = group_assign_df.loc[group_assign_df['merge_key'] == 주체, '초기그룹'].iloc[0]
        group_target = group_assign_df.loc[group_assign_df['merge_key'] == 대상, '초기그룹'].iloc[0]

        if 관계 == 1 and group_main != group_target:
            print(f"❌ {주체}와 {대상}: 같은 반이어야 하는데 다른 그룹임.")
        elif 관계 == -1 and group_main == group_target:
            print(f"❌ {주체}와 {대상}: 다른 반이어야 하는데 같은 그룹임.")

❌ 101021김민주와 101031김민지: 다른 반이어야 하는데 같은 그룹임.
❌ 101021김민주와 108301김민지: 다른 반이어야 하는데 같은 그룹임.
❌ 106181박지유와 101031김민지: 같은 반이어야 하는데 다른 그룹임.
❌ 106111정채미와 107271정휘우: 같은 반이어야 하는데 다른 그룹임.
❌ 110241이연호와 107211박도현: 같은 반이어야 하는데 다른 그룹임.

In [ ]:
#